.list {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  border: 1px solid #b8bfc7;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  background-color: #fff;
}

.item:nth-child(even) {
  background-color: #f1f7fd;
}
